@import '../../mixins.scss';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  background-color: white;
  /* min-width: 1000px; */
}

.loginPanel {
  display: flex;
  align-items: center;
}

.userPanel {
  display: flex;
  align-items: center;
}

.title {
  margin: 0;
}

.title > a {
  font-size: 18;
  margin: 0;
  color: black;
}

.signUpButton {
  @include colorButton();
}

.signUpButton:hover {
  @include colorButton();
  filter: opacity(0.7);
}

.createButton {
  @include colorButton();
  margin-right: 20px;
}

.userLink {
  margin-right: 20px;
}

.username {
  font-size: 18px;
}

.username:hover {
  filter: opacity(0.7);
}

.avatar {
  margin-left: 20px;
}

.createButton:hover {
  @include colorButton();
  filter: brightness(120%);
}

@media screen and (max-width: 900px) {
  .header {
    padding: 16px;
  }
  .userLink {
    margin-right: 8px;
  }
  .avatar {
    margin-left: 8px;
  }
}
