@import '../../mixins.scss';

.title {
  display: block;
  text-align: center;
}

.login {
  @include formWrapper;
}

.form__input {
  margin-bottom: 12px;
}

.submitButton {
  margin: 20px 0 8px 0;
}

.suggestionText {
  display: block;
  text-align: center;
}
