.ant-card-body {
  padding: 0;
}

.ant-pagination-item-active {
  background-color: #1890ff;
  border-radius: 4px;
  a {
    color: white;
  }
}

.ant-form-item-label {
  margin-bottom: 8px;
}

.ant-form-item-label {
  padding: 0 !important;
  margin: 0 !important;
}

.ant-divider {
  margin-bottom: 5px !important;
}
